* {
    padding: 0;
    margin: 0;
  }
  
  /* Utilisaton de html sinon marche pas */
  
  html {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  body {
    width: 100%;
    height: 100%;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: sans-serif;
    color: #fff;
  }
  
  header {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
  }
  
  header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* placer le background image en utilisant un selecteur */
  
  header::before {
    content: "";
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(https://i.redd.it/uq9bg14gkmi41.jpg);
    background-size: cover;
    transform: translateZ(-1px) scale(2);
  
    /*z-index est une proporiété de placement au premier ou aux plans inferieures  */
    z-index: -1;
  }
  
  .paragraph {
    position: absolute;
    top: 100vh;
    background-color: #111;
    line-height: 2;
    padding: 70px;
    font-size: 1.2rem;
  }